<div class="home-container">
  <div class="home-hero">
    <img
      alt="image"
      src="/assets/playground_assets/integrityor.svg"
      class="home-image"
    />
    <button type="button" class="home-button button">
      <span>
        <span class="home-text1">Meldung einreic</span>
        <span>hen</span>
      </span>
    </button>
  </div>
  <div class="home-container1"></div>
  <div>
    <dangerous-html
      html="<script>
document.addEventListener('DOMContentLoaded', function() {
  // get the element with the 'scroll-top' data-role
  const scrollTopBtn = document.querySelector('[data-role='scroll-top']');

  // when the element is clicked
  scrollTopBtn.addEventListener('click', function() {
    // smoothly scroll to the top of the page
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
});
</script>
"
    ></dangerous-html>
  </div>
</div>
